<table class="table table-striped">
  <thead>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <tr>
     <legend class="text-center header">Productos</legend>
    
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">precio</th>
      <th scope="col">descripcion</th>
      <th scope="col">disponibilidad</th>
    
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>perfume humor</td>
      <td>900,50</td>
      <td>cant 100ml</td>
      <td>disponible</td>
    
    </tr>
    <tr>
      <th scope="row">2</th>
       <td>crema castania</td>
      <td>220,50</td>
      <td>manos</td>
      <td>no disponible</td>
      
    </tr>
  </tbody>
  
</table>

  <button type="button" class="btn btn-primary">Comprar</button>